@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100;1,300;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,900;1,100;1,300;1,900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family:'Karma', serif;
  background-color: rgb(235, 213, 185);
  color: rgb(23, 22, 22);
}
.container{
  max-width:90%;
  margin:auto;
}
.flexx{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
header{
  height: 8vh;
  line-height: 8vh;
}
.logo h1{
  font-size: 45px;
}
.logo h1 span{
  color:#1ebdf4;
}